{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    {{ form(form) }}
<div class="example-wrapper">
    <h1>List of all projects</h1>
    <ul>
        {% for project in projects %}
           <li>
               <a href="{{ path('project_show', { id: project.id }) }}">{{ project.name }}</a>
           </li>
        {% endfor %}
    </ul>
    <button>
        <a href="{{ path('list_project') }}">Rafraichir</a>
    </button>
</div>
{% endblock %}
